@import "tailwindcss";
@theme {
  --color-primary: #65c3c8; /* Soft Teal */
  --color-secondary: #ef9fbc; /* Soft Pink */
  --color-accent: #eeaf3a; /* Mustard Yellow */
  --color-neutral: #291334; /* Dark Purple */
  --color-base: #faf7f5; /* Off-white background */

  --color-amirah-purple: #4a0e4e;
  --color-amirah-pastel: #f3d7fb;
}

body {
  background-color: var(--color-base);
  color: var(--color-neutral);
}

/* Tambah animation class custom */
@layer utilities {
  .animate-gradient-pulse {
    animation: gradient-pulse 10s ease infinite;
  }
}

/* Define keyframes */
@keyframes gradient-pulse {
  0%,
  100% {
    background-color: #f3d7fb;
  }
  50% {
    background-color: #fdf2f8;
  }
}
